trigger:
- develop

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'
- task: TfxInstaller@3
  inputs:
    version: 'v0.9.x'
- script: |
    npm install
    tsc
  workingDirectory: 'punch-out-semver'
  displayName: 'npm install and build'
- task: PackageAzureDevOpsExtension@3
  inputs:
    rootFolder: 
    updateTasksVersion: false
- task: PublishAzureDevOpsExtension@3
  inputs:
    connectTo: 'VsTeam'
    connectedServiceName: 'Visual Studio Marketplace'
    fileType: 'manifest'
    extensionVisibility: 'privatepreview'
    extensionPricing: 'free'