trigger:
- develop

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'
- task: TfxInstaller@3
  inputs:
    version: 'v0.9.x'
- script: |
    npm install
    npm run tfx
  workingDirectory: 'punch-out-semver'
  displayName: 'npm install and build'
